@import "basic.css";

#content{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.section-header img{
    margin-left: auto;
    margin-right: 15px;
}

#content div{
   margin: 15px;
   padding: 20px;
   width: 250px;
}

#content div .section-header{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 225px;
    padding: 5px;
}

#content h2{
    font-size: 20px;
}

#content p{
    font-size: 10;
}

#background, #obligation, #species, #career , #xp{
    box-shadow: 0 4px 8px 0 black;
    border: 3px solid white;
    border-radius: 16px;
}

#background:hover, #obligation:hover, #species:hover, #career:hover , #xp:hover{
    box-shadow: 0 6px 20px 0 black;
}

@media only screen and (max-width: 500px){

    #content div{
        width: 175px;
        margin: 5px;
    }

    #content div .section-header{
        width: 125px
    }
}