.navigation{
    display: block;
}

#header{
    display:block;
    width: 80%;
}

.icon{
    display: none;
}

#header-title{
    display: block;
}

h1{
    font-size: 24px;
    text-align: center;
}